/**
Base css file for the whole system
Author: Dave Perez
Date created: 05/10/2017
 */

.sidebar {

}

.default-button {
    margin-left: 10px;
    background: #62af56;
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    padding: 8px 10px;
    border: 1px solid #2d6324;
    font-size: 110%;
    width: auto;
    border-radius: 4px;
}
.default-button:hover {
    background: #5BA150;
}
.default-button.register {
    text-decoration: none;
    font-weight: normal;
}
.default-button.register:hover {
    color: #fff;
}

.frnd-action {
    padding: 7px;
    border-radius: 4px;
    border: 1px;
    font-family: 'lucida grande',verdana,helvetica,arial,sans-serif;
    cursor: pointer;
}

.sidebar {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #7c7c7c;
    float: left;
    top: 0px;
    width: 20%;
    height: 100%;
    color: #e1ffff;
}
.sidebar .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.sidebar .toggle-btn {
    display: none;
}
.sidebar ul,
.sidebar li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
}
.sidebar ul :not(collapsed) .arrow:before,
.sidebar li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.sidebar ul .active,
.sidebar li .active {
    border-left: 3px solid #81b1ce;
    background-color: #4f5b69;
}
.sidebar ul .sub-menu li.active,
.sidebar li .sub-menu li.active {
    color: #81b1ce;
    background: #81b1ce;
}
.sidebar ul .sub-menu li.active a,
.sidebar li .sub-menu li.active a {
    color: #fff;
}
.sidebar ul .sub-menu li,
.sidebar li .sub-menu li {
    background-color: #989696;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
    padding-left: 10px;
}
.sidebar ul .sub-menu li:hover,
.sidebar li .sub-menu li:hover {
    background-color: #81b1ce;
}
.sidebar li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
    font-weight: bold;
    list-style: none;
}
.sidebar li a {
    text-decoration: none;
    color: #e1ffff;
}
.sidebar li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.sidebar li:hover {
    border-left: 3px solid #81b1ce;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
    .sidebar {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .sidebar .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .sidebar .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}
#main {
    float: right;
    width: 75%;
    margin-left: 20px;
}

#name_space {
    margin-top: 4%;
    font-size: 20px;
}

#status_box textarea {
    font-size: 14px;
    font-height: 16px;
    padding: 5px;
}
#status_box input[type="submit"] {
    width: 10%;
    cursor: pointer ;
}

#post_container h1 {
    font-size: 20px;
}

