<h1>Feed Board</h1>
<?php echo $this->Html->link(
'Post a Feed',
array('controller' => 'posts', 'action' => 'add')
);
    foreach($posts as $post) {
?>
<div>
    <?php echo $post['Post']['content'] ?>
</div>
<?php
    }
?>